.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    font-size: 20sp;
    background-color: black;
    color: white;
    width: auto;
    height: 352px;
    padding: 16px;
}

.iconbar{
    display: flex;
    flex-direction: row;
}

.emailinput{
    height: 40px;
    width: 360px;
    padding-left: 8px;
    border-radius: 32px;
    margin-top: 8px;
}
.emailinput:hover{
    outline: none;
    border: none;
}
.emailinput:focus{
    outline: none;
    border: none;
}